<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.holenet.cowinfo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="로그인" />
        <activity
            android:name=".EditCowActivity"
            android:label="개체 정보 수정" />
        <activity
            android:name=".CowDetailActivity"
            android:label="개체 상세 정보" />
        <activity
            android:name=".EditRecordActivity"
            android:label="이력 정보 수정" />
        <activity
            android:name=".RecordDateActivity"
            android:label="날짜별 이력 목록" />

        <receiver
            android:name=".notice.AlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.holenet.cowinfo.notice.action.CHECK" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".notice.NoticeService"
            android:exported="false" />
    </application>

</manifest>